<launch>
	<arg name="robot_name" default="rospider" />
	<arg name="tf_prefix" default="" />
	<arg name="tf_enable" default="false" />
	<arg name="odom_enable" default="true" />

	<node name="rospider_controller" 
		  pkg="rospider_controller" 
		  type="rospider_controller_main.py" 
		  output="screen" respawn="true"> 
		<param name="odom_enable" value="$(arg odom_enable)" />
		<param name="tf_prefix" value="$(arg tf_prefix)" />
	</node>

	<node if="$(arg tf_enable)" 
		name="rospider_tf" 
		pkg="rospider_controller" 
		type="tf_broadcaster.py" 
		required="true" 
		ns="rospider_controller"
		output="screen">
		<param name="tf_prefix" value="$(arg tf_prefix)" />
	</node>
	<include file="$(find rospider_peripherals)/launch/battery_low_alarm.launch" />
</launch>