<?xml version="1.0"?>
<launch>
	<!--要加载的地图-->
	<arg name="robot_name" default="$(env ROBOT_NAME)"/>
	<arg name="tf_prefix" default="$(arg robot_name)" />

	<arg name="map" default=""/>
	<arg name="map_file" default="$(find rospider_slam)/maps/$(arg map).yaml"/>

	<!-- 启动Map server功能包，发布地图 -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" ns="$(arg robot_name)">
		<param name="frame_id" value="$(arg tf_prefix)/map" />
	</node>
</launch>        
